<!-- chatbot/templates/chatbot/chat.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>이미지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();
                var image = $('#image').val();
                console.log(image);
                $.ajax({
                    url: 'chat',
                    method: 'GET',
                    data: { image: image },
                    dataType: 'json',
                    success: function(response) {
                        $('input[type="text"]').val('');
                        $('#chatbox').append('<p>' + image + '</p>');
                        console.log(response);
                        $('#chatbox').append('<img src="' + response.response + '"</img>');
                    }
                 });
            });
        });
    </script>
</head>
<body>
    <div id="chatbox"></div>
    <form>
        {% csrf_token %}
        <label>image</label>
        <input type="text" name="image" id="image">
        <button type="submit">보내기</button>
    </form>
</body>
</html>
